.fondo{
	background-color:#A9A9A9;
}

.nav li{
	float:right;
	color:gray;
	list-style: none;
	display:inline-block;
	padding-left:10px;
}

.img-uno{
	background-image: url('../img/home.jpg');
	padding-top:100px;
	background-size:cover;
    padding-bottom:15%;
}

h1{
	color:white;
	margin-top:15%;
}

.fondo-amarillo{
	background-color:yellow;
	height:50%
}
section{
	padding:5% 0;
}
footer{
	background-color:#20B2AA;
}
.boton{
	margin-top:10px;
}